@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&display=swap');
body {
    font-family: "Fruktur", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: red;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}